/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/missing
/mlt-spa.autobil.bin
/mlt-spa.autogen.bin
/mlt-spa.autolex.bin
/mlt-spa.automorf.bin
/mlt-spa.mode
/mlt-spa.prob
/mlt-spa.rlx.bin
/mlt-spa.t1x.bin
/mlt-spa.t2x.bin
/mlt-spa.t3x.bin
/modes
/spa-mlt.autobil.bin
/spa-mlt.autogen.bin
/spa-mlt.autolex.bin
/spa-mlt.automorf.bin
/spa-mlt.autopgen.bin
/spa-mlt.prob
/spa-mlt.rlx.bin
/stamp-h1
/ap_include.am
